.player {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
}

.video-container {
    flex-grow: 1;
}

.control-buttons {
    background: black;
    display: flex;
    align-items: center;
    padding: 0.5em 0.3em;
    gap: 0.5em;
}

.time-label {
    color: white;
    font-family: 'Roboto';
}

.control-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 2em;
    height: 2em;
    text-align: center;
}

.control-button i {
    color: white;
    font-size: 150%;
}